.page-wrapper{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}
.cart-wrapper{
    background-color: #fff;
    flex:  0 0 320px;
    max-width:  320px;
    margin-left: 30px;
    border: 1px solid #ccc;
    padding: 20px;
}

.products{
    flex:  0 0 calc(100% - 350px);
    max-width: calc(100% - 350px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.show-fav-item-btn{
    margin-top: 30px;
    background-color: #14ae66;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    width: 100%;
    color: #fff;
    font-weight: bold;
}
.remove-fav-item-btn{
    margin-top: 30px;
    background-color: #ff1b0a;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    width: 100%;
    color: #fff;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 800px) {
    .page-wrapper{
        flex-direction: column-reverse;
    }
    .cart-wrapper, .products{
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
    .product-image{
        height: auto;
    }
}