.page-wrapper{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}
.cart-wrapper{
    background-color: #fff;
    flex:  0 0 320px;
    max-width:  320px;
    margin-left: 30px;
    border: 1px solid #ccc;
    padding: 20px;
}

.products{
    flex:  0 0 calc(100% - 350px);
    max-width: calc(100% - 350px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}