.question-answer-wrapper h2{
    text-align: center;
    font-size: 38px;
}
.question-answer-wrapper>div{
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 30px;
}