.product-box{
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
}
.product-image {
    height: 150px;
}
.product-image img{
    max-height: 150px;
}
button.add-to-Cart{
    background-color: #d4d3d3;
    padding: 10px 30px;
    border: none;
    cursor: pointer; 
    border-radius: 30px;
}
.product-box-inner p{
    margin-top: auto;
}
.product-box-inner{
    display: flex;
    flex-direction: column;
    height: 100%;
}